.loginColor {
    background-color: #f4845f;
    transition: 0.5s;
    transition-property: background-Color;
}

.registerColor {
    background-color: #f27059;
    transition: 0.5s;
    transition-property: background-Color;
}

main {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.userInputs {
    display: flex;
    flex-direction: column;
}

main input {
    height: 25px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#button {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

#button>label {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

#button>button {
    height: 50px;
    font-size: 18px;
}

#loginRegisterContainer {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#loginRegister {
    text-decoration: underline;
    font-size: 20px;
    margin: 0;
}

#loginRegister:hover {
    cursor: pointer;
}