.quizColor {
    background-color: aqua;
}

#logout {
    background-color: whitesmoke;
    display: flex;

    grid-column: 1/2;
}

main {}

#dogImage {
    max-width: calc(var(--screen-width) - (var(--padding) * 2));
    /* max-height: calc(var(--screen-height) - var(--padding)); */
}

#options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 5px;
}

#options button {
    font-size: 18px;
    height: 50px;
}